    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../assets/gitlab-logo-gray-stacked-rgb.png">

                    <h3>Codigo</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="https://gitlab.com/LengProgramacionAvanzado2/frontend_simple_angular" target="_blank">INGRESAR</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../assets/2021 Twitter logo - blue.png">
                    <h3>Twitter</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="https://twitter.com/elonmusk" target="_blank">INGRESAR</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../assets/f_logo_RGB-Blue_100.png">
                    <h3>Facebook</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="https://es-la.facebook.com/Cristiano" target="_blank">INGRESAR</a>
                </div>
            </div>
        </div>
    </div>

