<!-- NAVBAR -->

<nav class="menu-container">
    <!-- burger menu -->
    <input type="checkbox" aria-label="Toggle menu" />

    <!-- logo -->
    <a href="#" class="menu-logo">
        <img src="https://wweb.dev/resources/navigation-generator/logo-placeholder.png"/>
    </a>

    <!-- menu items -->
    <div class="menu">
        <ul id="ejm2">
            <li> <a routerLink="/">INICIO</a></li>
            <li><a routerLink="services">SERVICIOS</a></li>
            <li><a routerLink="about">SOBRE NOSOTROS</a></li>
            <li><a routerLink="contact">CONT&Agrave;CTANOS</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>